<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../../layout/head') %>
    <link rel="stylesheet" href="/styles/modules/searches/show.css">
  </head>

  <body>
    <%- include('../../layout/header') %>
    <main>
      <h4>Search Results</h4>
      <ul class="search-results">
        <% results.forEach(book => { %>
        <li data-book-id="<%= book.isbn %>">
          <%- include('../books/detail', {book: book}) %>
          <form action="/books" method="post">
            <input type="hidden" name="title" value="<%= book.title %>" required />
            <input type="hidden" name="author" value="<%= book.author %>" required />
            <input type="hidden" name="isbn" value="<%= book.isbn %>" />
            <input type="hidden" name="image_url" value="<%= book.image_url %>" />
            <input type="hidden" name="description" value="<%= book.description %>" />
            <button id="show-me" type="submit">Add to my Bookshelf</button>
          </form>
        </li>
        <% }) %>
      </ul>
    </main>
    <%- include('../../layout/footer') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/app.js"></script>
  </body>

</html>
